html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

#renderer-canvas {
  width: 100%;
  height: 100%;
  /* 设置canvas它的display为block。canvas的display默认为 inline。行内元素的末尾会有空格。 通过设置canvas为块级元素就能消除这个空格。 */
  display: block;
}